/* Navigation Bar */
#navbar{
    flex-direction: column;
}


#navbar ul li a{
    font-size: 1rem;
    padding: 0px 6px;
    padding-bottom:8px;
}
/* Home */
#home{
    height: 300px;
    flex-direction: column;
    padding:3px 44px;
}

#home::before{
    height: 400px;
    flex-direction: column;
}

#home p{
    font-size: 13px;
    padding: 2px;
    margin: 0;
}


/* Services */
#services{
    flex-direction: column;
    margin: 5px;
}

#services .box{
    padding: 10px;
    margin: 9px 41px;
    background-color: #F2F2F2;
    border-radius: 40px;
}

#services .box img{
    height: 80px;
}

#services .box p{
    font-size: 15px;
}

/* Clients */
#clients{
    flex-wrap: wrap;
}

.client-item{
    padding:5px;
}

#clients img{
    height: 70px;
    padding-bottom: 10px;
}
/* Contact Us */
#contact-box input,
#contact-box textarea{
    font-size: 15px;
    padding: 3px;
    border-radius: 7px;
}

#contact-box label {
    font-size: 16px;
}

#contact-box input::placeholder,
#contact-box textarea::placeholder{
   font-size: 13px;
   color: rgb(29, 27, 27);
   padding: 0px 5px;
}

#contact-box form{
    width: 80%;
}


/* Footer */
footer{
    padding: 5px 2px;
    background-color: black;
    color: white;
    font-size: 15px;
 }

/* Utility Classes */
.h-primary{
    font-size: 20px;
}

.h-secondary{
    font-size: 18px;
}

.btn{
    padding: 1px 9px;
    font-size: 14px;
}
